<div class="container text-center">
  <div>
    <h1>Standings</h1>
    <h2>Season {{ standingsService.season() }}</h2>
  </div>
  <div class="row">
    <div class="col">
      <h3>Drivers</h3>
      <table class="standings-table-drivers">
        <thead>
          <tr>
            <th>Position</th>
            <th>Driver</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          @for (standingsList of standingsService.StandingsLists(); track
          standingsList.DriverStandings){ @for (Driver of
          standingsList.DriverStandings; track Driver) {
          <tr>
            <td>{{ Driver.position }}</td>
            <td>
              {{ Driver.Driver.givenName }}
              {{ Driver.Driver.familyName }}
            </td>
            <td>{{ Driver.points }}</td>
          </tr>
          } }
        </tbody>
      </table>
    </div>

    <div class="col">
      <h3>Constructors</h3>
      <table class="standings-table-constructors">
        <thead>
          <tr>
            <th>Position</th>
            <th>Constructor</th>
            <th>Points</th>
          </tr>
        </thead>
        <tbody>
          @for (standingsList of standingsConstructorService.StandingsLists();
          track standingsConstructorService.StandingsLists) { @for(Constructor
          of standingsList.ConstructorStandings ; track Constructor) {
          <tr>
            <td>{{ Constructor.position }}</td>
            <td>{{ Constructor.Constructor.name }}</td>
            <td>{{ Constructor.points }}</td>
          </tr>
          } }
        </tbody>
      </table>
    </div>
  </div>
</div>
