<div class="container">
  <div class="header">
    <h1>Detalles del Piloto</h1>
    <div class="driver-name">
      {{ driver.givenName }} {{ driver.familyName }}
    </div>
  </div>

  <div class="driver-card">
    <div class="info-grid">
      <div class="info-item">
        <span class="label">Nacionalidad</span>
        <div class="value nationality">
          <div
            class="fflag ff-md {{
              'fflag-' + driver.nationality.replaceAll(' ', '')
            }}"
          ></div>
          <span>{{ driver.nationality }}</span>
        </div>
      </div>

      <div class="info-item">
        <span class="label">Número Permanente</span>
        <span class="value number">{{ driver.permanentNumber }}</span>
      </div>

      <div class="info-item">
        <span class="label">Fecha de Nacimiento</span>
        <span class="value">{{ driver.dateOfBirth | dateFormat }}</span>
      </div>

      <div class="info-item">
        <span class="label">Wikipedia</span>
        <a class="value link" [href]="driver.url" target="_blank">
          Ver biografía
        </a>
      </div>
    </div>
  </div>
</div>
