<div class="track-details-container">
  <h2>Circuit Details</h2>
  <div><strong>Circuit Name:</strong> {{ track.circuitName }}</div>
  <div><strong>Country:</strong> {{ track.Location.country }}</div>
  <div><strong>Locality:</strong> {{ track.Location.locality }}</div>
  <div><strong>Latitude:</strong> {{ track.Location.lat }}</div>
  <div><strong>Longitude:</strong> {{ track.Location.long }}</div>
  <div>
    <strong>Wikipedia:</strong>
    <a class="url-link" [href]="track.url" target="_blank"> {{ track.url }}</a>
  </div>
</div>
