<div class="container">
  <h1>Circuits</h1>
  <h2>Season {{ tracksService.season() }}</h2>
  <table class="trackList">
    <thead>
      <tr>
        <th>Track Name</th>
        <th>Country</th>
      </tr>
    </thead>

    <tbody>
      @for (track of tracksService.tracks(); track track.circuitId) {
      <tr>
        <td>
          <a [routerLink]="['/track-details', track.circuitId]"
            >{{ track.circuitName }}
          </a>
        </td>

        <td>
          <div
            class="fflag ff-md {{
              'fflag-' + track.Location.country.replaceAll(' ', '')
            }}"
          ></div>
          {{ track.Location.country }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
