<div class="container">
  <div class="header">
    <h1>Circuitos</h1>
    <div class="season-info">
      <span>Temporada {{ tracksService.season() }}</span>
    </div>
  </div>

  <table class="modern-table">
    <thead>
      <tr>
        <th>Circuito</th>
        <th>País</th>
      </tr>
    </thead>
    <tbody>
      @for (track of tracksService.tracks(); track track.circuitId) {
      <tr>
        <td class="track">
          <a [routerLink]="['/track-details', track.circuitId]">
            {{ track.circuitName }}
          </a>
        </td>
        <td class="nationality">
          <div
            class="fflag ff-md {{
              'fflag-' + track.Location.country.replaceAll(' ', '')
            }}"
          ></div>
          <span>{{ track.Location.country }}</span>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
