<div class="container">
  <h1>Schedule</h1>
  <h2>Season {{ scheduleService.season() }}</h2>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>Race</th>
          <th>Date</th>
          <th>Practice 1</th>
          <th>Qual</th>
          <th>Race Time</th>
        </tr>
      </thead>
      <tbody>
        @for (races of scheduleService.races(); track races.raceName) {
        <tr>
          <td>
            <a [routerLink]="['/results', races.round]">
              <b>{{ races.raceName }}</b></a
            >
          </td>
          <td>{{ races.date | dateFormat }}</td>
          <td>{{ races.FirstPractice.time? | timeFormat }}</td>
          <td>{{ races.Qualifying.time? | timeFormat }}</td>
          <td>{{ races.time? | timeFormat }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
