<div class="container">
  <div class="header">
    <h1>Calendario</h1>
    <div class="season-info">
      <span>Temporada {{ scheduleService.season() }}</span>
    </div>
  </div>

  <table class="modern-table">
    <thead>
      <tr>
        <th>Carrera</th>
        <th>Fecha</th>
        <th>Práctica 1</th>
        <th>Clasificación</th>
        <th>Hora Carrera</th>
      </tr>
    </thead>
    <tbody>
      @for (races of scheduleService.races(); track races.raceName) {
      <tr>
        <td class="race-name">
          <a [routerLink]="['/results', races.round]">{{ races.raceName }}</a>
        </td>
        <td>{{ races.date | dateFormat }}</td>
        <td>{{ races.FirstPractice?.time | timeFormat }}</td>
        <td>{{ races.Qualifying?.time | timeFormat }}</td>
        <td>{{ races.time | timeFormat }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
