<div class="container" *ngIf="details">
  <h2>Results</h2>
  <h3>{{ details.raceName }}</h3>
  <div class="table-wrapper">
    <table class="lastResults">
      <thead>
        <tr>
          <th>Position</th>
          <th>Driver</th>
          <th>Constructor</th>
          <th>Laps</th>
          <th>Time</th>
          <th>Status</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        @for (result of details.Results; track result) {
        <tr>
          <td>{{ result.position }}</td>
          <td>
            {{ result.Driver.givenName }}
            {{ result.Driver.familyName }}
          </td>
          <td>{{ result.Constructor.name }}</td>
          <td>{{ result.laps }}</td>
          <td>{{ result.Time?.time }}</td>
          <td>{{ result.status }}</td>
          <td>{{ result.points }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
