<div class="container" *ngIf="details">
  <div class="header">
    <h1>Resultados</h1>
    <div class="race-info">
      <span>{{ details.raceName }}</span>
    </div>
  </div>

  <table class="modern-table">
    <thead>
      <tr>
        <th>Pos</th>
        <th>Piloto</th>
        <th>Escudería</th>
        <th>Vueltas</th>
        <th>Tiempo</th>
        <th>Estado</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      @for (result of details.Results; track result) {
      <tr>
        <td class="position">{{ result.position }}</td>
        <td class="driver">
          <span class="surname">{{ result.Driver.familyName }}</span>
          <span class="firstname">{{ result.Driver.givenName }}</span>
        </td>
        <td class="constructor">{{ result.Constructor.name }}</td>
        <td>{{ result.laps }}</td>
        <td>{{ result.Time?.time }}</td>
        <td>{{ result.status }}</td>
        <td class="points">{{ result.points }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
