@import "../../../shared/styles/shared-styles.scss";

.header .race-info {
  color: var(--color-text-muted);
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .modern-table {
    thead tr th,
    tbody tr td {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(6) {
        display: none;
      }
    }
  }
}
