<div class="container">
  <div class="header">
    <h1>Escuderías</h1>
    <div class="season-info">
      <span>Temporada {{ constructorsService.season() }}</span>
    </div>
  </div>

  <table class="modern-table">
    <thead>
      <tr>
        <th>Escudería</th>
        <th>Nacionalidad</th>
      </tr>
    </thead>
    <tbody>
      @for (constructor of constructorsService.constructors(); track
      constructor.constructorId) {
      <tr>
        <td class="team">
          <a [routerLink]="['/team-details', constructor.constructorId]">
            {{ constructor.name }}
          </a>
        </td>
        <td class="nationality">
          <div
            class="fflag ff-md {{ 'fflag-' + constructor.nationality }}"
          ></div>
          <span>{{ constructor.nationality }}</span>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
