<div class="container">
  <div class="header">
    <h1>Pilotos</h1>
    <div class="season-info">
      <span>Temporada {{ driversService.season() }}</span>
    </div>
  </div>

  <table class="modern-table">
    <thead>
      <tr>
        <th>Número</th>
        <th>Piloto</th>
        <th>Nacionalidad</th>
      </tr>
    </thead>
    <tbody>
      @for (driver of driversService.drivers(); track driver.driverId) {
      <tr>
        <td class="number">{{ driver.permanentNumber }}</td>
        <td class="driver">
          <a [routerLink]="['/driver-details', driver.driverId]">
            <span class="surname">{{ driver.familyName }}</span>
            <span class="firstname">{{ driver.givenName }}</span>
          </a>
        </td>
        <td class="nationality">
          <div
            class="fflag ff-md {{
              'fflag-' + driver.nationality.replaceAll(' ', '')
            }}"
          ></div>
          <span>{{ driver.nationality }}</span>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
